body {
    background: #ffffff none repeat scroll 0 0;
    color: #687188;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.nav-link{
    text-transform: uppercase;
    padding: 5px 5px;
    font-size: 14px;
}

.hover-effect{
 
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .hover-effect:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: #f8203c;
    color: #ffffff !important;
    border:double 1px !important;
  }